.feedback-section {
  /* background: url("/src/images/content/budda.png") center center no-repeat; */
  background-image: url("/src/images/content/budda.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}