.menu {
  width: 100%;

  &__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: $text-color;
    transition: .2s;

    &:hover {
      text-decoration: underline;
      transition: .2s;
    }
    &:active {
      text-decoration: underline;
    }
  }
}

.footer-info .menu {
  width: 70%;
  margin-bottom: 50px;
}

.footer-info .menu__link {
  color: $white;
}
