.parallax.feedback-parallax
  .feedback-parallax__layer(data-speed='0.15')
    +image('parallax/budda/clouds.png', 'feedback-parallax__image', '')
  .feedback-parallax__layer(data-speed='0.20')
    +image('parallax/budda/mountains.png', 'feedback-parallax__image', '')
  .feedback-parallax__layer(data-speed='0.25')
    +image('parallax/budda/buddha.png', 'feedback-parallax__image', '')
  .feedback-parallax__layer(data-speed='0.20')
    +image('parallax/budda/cloud1.png', 'feedback-parallax__image', '')
  .feedback-parallax__layer(data-speed='0.25')
    +image('parallax/budda/cloud2.png', 'feedback-parallax__image', '')
  .feedback-parallax__layer(data-speed='0.30')
    +image('parallax/budda/cloud3.png', 'feedback-parallax__image', '')