.parallax.feedback-parallax
  .feedback-parallax__layer(data-speed='0.15')
    img.feedback-parallax__image(src='./src/images/parallax/budda/clouds.png' alt='')
  .feedback-parallax__layer(data-speed='0.20')
    img.feedback-parallax__image(src='./src/images/parallax/budda/mountains.png' alt='')
  .feedback-parallax__layer(data-speed='0.25')
    img.feedback-parallax__image(src='./src/images/parallax/budda/buddha.png' alt='')
  .feedback-parallax__layer(data-speed='0.20')
    img.feedback-parallax__image(src='./src/images/parallax/budda/cloud1.png' alt='')
  .feedback-parallax__layer(data-speed='0.25')
    img.feedback-parallax__image(src='./src/images/parallax/budda/cloud2.png' alt='')
  .feedback-parallax__layer(data-speed='0.30')
    img.feedback-parallax__image(src='./src/images/parallax/budda/cloud3.png' alt='')