section.values
  .wrapper
    .container
      .values__container  
        .values__profit.values-profit
          .values-profit__title Чем я могу быть полезен вам
          p.values-profit__info Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        #skills-component
        +image("content/backpack.png", "values__backpack", "")

          
        