section.parallax.welcome-parallax
  .welcome-parallax__layer(data-speed='0.1')
    img.welcome-parallax__image(src='./src/images/parallax/Sky.png' alt='')
  .welcome-parallax__layer(data-speed='0.25')
    img.welcome-parallax__image(src='./src/images/parallax/Mountain.png' alt='')
  .welcome-parallax__layer(data-speed='0.35')
    img.welcome-parallax__image(src='./src/images/parallax/Baloon.png' alt='')
  .welcome-parallax__layer(data-speed='0.38')
    img.welcome-parallax__image(src='./src/images/parallax/Cloud.png' alt='')
  .welcome-parallax__layer(data-speed='0.45')
    img.welcome-parallax__image(src='./src/images/parallax/Man.png' alt='')
  .welcome-parallax__layer(data-speed='0.48')
    img.welcome-parallax__image(src='./src/images/parallax/Mountain1.png' alt='')
  .welcome-parallax__layer(data-speed='0.50')
    img.welcome-parallax__image(src='./src/images/parallax/White.png' alt='')
  .welcome-parallax__layer
    .welcome-parallax__patch
