.parallax.welcome-parallax
  .welcome-parallax__layer(data-speed='0.1')
    +image('parallax/mountains/Sky.png', 'welcome-parallax__image', '')
  .welcome-parallax__layer(data-speed='0.15')
    +image('parallax/mountains/Mountain.png', 'welcome-parallax__image', '')
  .welcome-parallax__layer(data-speed='0.20')
    +image('parallax/mountains/Baloon.png', 'welcome-parallax__image', '')
  .welcome-parallax__layer(data-speed='0.23')
    +image('parallax/mountains/Cloud.png', 'welcome-parallax__image', '')
  .welcome-parallax__layer(data-speed='0.26')
    +image('parallax/mountains/Man.png', 'welcome-parallax__image', '')
  .welcome-parallax__layer(data-speed='0.28')
    +image('parallax/mountains/Mountain1.png', 'welcome-parallax__image', '')
  .welcome-parallax__layer(data-speed='0.30')
    +image('parallax/mountains/White.png', 'welcome-parallax__image', '')
  .welcome-parallax__layer
    +image('parallax/mountains/White.png', 'welcome-parallax__image', '')
