.delimeter.welcome-delimeter
  svg.delimeter__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
    polygon(points="0,0 0,100 1000,100")
  svg.delimeter__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
    polygon(points="1000,0 1000,100 0,100")