.parallax.welcome-parallax
  .welcome-parallax__layer(data-speed='0.1')
    img.welcome-parallax__image(src='./src/images/parallax/mountains/Sky.png' alt='')
  .welcome-parallax__layer(data-speed='0.25')
    img.welcome-parallax__image(src='./src/images/parallax/mountains/Mountain.png' alt='')
  .welcome-parallax__layer(data-speed='0.35')
    img.welcome-parallax__image(src='./src/images/parallax/mountains/Baloon.png' alt='')
  .welcome-parallax__layer(data-speed='0.38')
    img.welcome-parallax__image(src='./src/images/parallax/mountains/Cloud.png' alt='')
  .welcome-parallax__layer(data-speed='0.45')
    img.welcome-parallax__image(src='./src/images/parallax/mountains/Man.png' alt='')
  .welcome-parallax__layer(data-speed='0.48')
    img.welcome-parallax__image(src='./src/images/parallax/mountains/Mountain1.png' alt='')
  .welcome-parallax__layer(data-speed='0.50')
    img.welcome-parallax__image(src='./src/images/parallax/mountains/White.png' alt='')
  .welcome-parallax__layer
    img.welcome-parallax__image(src='./src/images/parallax/mountains/White.png' alt='')
