include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Portfolio | main page
  body
    .welcome-section
      include ./templates/welcome-parallax.pug
      include ./templates/hero.pug
      include ./templates/about.pug
      include ./templates/welcome-delimeter.pug
    .advantages-section
      include ./templates/values.pug
      include ./templates/works.pug      
    .feedback-section
      include ./templates/feedback-parallax.pug
      include ./templates/feedback-delimeter.pug      
      include ./templates/reviews.pug     
      include ./templates/feedback.pug     
    include ./templates/footer.pug    
    include ./templates/skills.pug    
     
        
      




